.main{
  display: flex;
  height: 75vh;
  flex-direction: column;
  padding: 0 50px;
  color: white;

}
.main h1{
  font-size: 75px;
  text-transform: uppercase;
  padding: 0;
  margin: 0
}
.main h2{
  color: #ffda1e;
  font-size: 45px;
  padding: 0;
  margin: 0
}
.main p{
  width: 50%;
  line-height: 1.2;
  font-size: 30px;
}
.main p:nth-child(4){
  color: #ffda1e
}
.main img{
  width: 50%;
  margin-left: auto;
}
.main h2{
    position: relative;
}
.main h2:after{
    content: "";
    position: absolute;
    bottom: 0%;
    left: 0%;
    height: 60px;
    background-color: black;
    width: 100%;
    animation: underline 5s forwards;
}
.price-cont{
  display: flex;
  flex-direction: column;
  color: white
}
.price-cont .price{
  display: flex;
  flex-direction: row;
  width: 25%;
  justify-content: space-between;
}
.price-cont .price:nth-child(2){
  color: #ffda1e
}
/* .main h1:hover:after{

    width: 0%;

} */
@keyframes underline{

    100%{
        width: 100% ;
        left: 100%
    }
}

.card-grid{
  display: flex;
  flex-wrap: wrap;
}
.card-grid .item{
  max-width: 20%;
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  padding: 0px 65px;
  align-items: center;
}
.card-grid .item h3{
  color: white;
  padding: 0;
}
.card-grid .item figure{
  margin: 0;
  padding: 0;
}
.card-grid .item figure img{
  padding-left: 65px
}

@media (max-width:767px){
  .main h1{
    font-size: 25px
  }
  .main h2{
    font-size: 15px;
  }
  .main p{
    font-size: 10px;
    width: 90%
  }
  .main h2:after{
    display: none
  }
  .price-cont .price{
    width: 80%
  }
  .price-cont .price h3{
    font-size: 10px;
  }
  .card-grid .item{
    flex-direction: row;
    padding: 10px 45px;
  }
  .card-grid .item figure img{
    padding-left: 0px;
    width: 100px;
  }
}
