.main{
  display: flex;
  height: 75vh;
  flex-direction: column;
  padding: 0 50px;
  color: white;

}
.main h1{
  font-size: 75px;
  text-transform: uppercase;
  padding: 0;
  margin: 0
}
.main h2{
  color: #ffda1e;
  font-size: 45px;
  padding: 0;
  margin: 0
}
.main p{
  width: 50%;
  line-height: 1.2;
  font-size: 30px;
}
.main p:nth-child(4){
  color: #ffda1e
}
.main img{
  width: 50%;
  margin-left: auto;
}
.main h2{
    position: relative;
}
.main h2:after{
    content: "";
    position: absolute;
    bottom: 50%;
    left: 0%;
    height: 5px;
    background-color: black;
    width: 100%;
    animation: underline 5s forwards;
}
.price-cont{
  display: flex;
  flex-direction: column;
  color: white
}
.price-cont .price{
  display: flex;
  flex-direction: row;
  width: 10%;
  justify-content: space-between;
}
.price-cont .price:nth-child(2){
  color: #ffda1e
}
/* .main h1:hover:after{

    width: 0%;

} */
@keyframes underline{

    100%{
        width: 100% ;
        left: 100%
    }
}

.card-grid{
  display: flex;
  flex-wrap: wrap;
}
.card-grid .item{
  max-width: 30%;
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px 20px;
}
.card-grid .item h3{
  color: #ffda1e;
}
.card-grid .item figure{
  height: 150px;
  width: 150px;
  background-color: white;
  margin: 0;
  padding: 0;
}

@media (max-width:767px){
  .main h1{
    font-size: 25px
  }
  .main h2{
    font-size: 15px;
  }
  .main p{
    font-size: 10px;
    width: 90%
  }
}
