.container{
  display: flex;
  background-color: black;
  width: 100%;
  height: 100vh;
}
.container .link-list{
  width: 20%;
  background-color: #ffda1e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 0;
}
.container .link-list .bt{
  background: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
  text-align: center;
  color: white;
  padding: 20px;
  background-repeat: no-repeat
}


.container .display{
  width: 80%;
}
.home{
  display: flex;
  justify-content: center;
}
.limbo{
  color: white;
  }
