.container{
  display: flex;
  background-color: black;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  align-items: center;
}
.container .link-list{
  width: 20%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px 0;
  border-right: 7px solid #ffda1e;
  height: 80vh
}
.container .link-list .bt{
  border: none;
  font-size: 30px;
  cursor: pointer;
  text-align: center;
  color: #ffda1e;
  padding: 20px;
  background-repeat: no-repeat;
}
.container .display{
  width: 100%;
}
@keyframes big{
  0%{
    width: 40%
  }
  50%{
    width: 50%;
  }
  100%{
    width: 40%;
  }
}
.home{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.home img{
  width: 50%;
  animation: big 4s infinite;
}
.limbo{
  color: white;
  }

  @media (max-width:740px) {
    .container{
      flex-direction: column;
    }
    .container .link-list{
      flex-direction: row;
      border: none
    }
  }
