@font-face {
  font-family: 'LeagueSpartan-Bold';
  src: url(./fonts/LeagueSpartan-Bold.otf) format('opentype'),
  url(./fonts/LeagueSpartan-Bold.eot) format('eot'),
  url(./fonts/LeagueSpartan-Bold.svg) format('svg'),
  url(./fonts/LeagueSpartan-Bold.woff) format('woff'),
  url(./fonts/LeagueSpartan-Bold.woff2) format('woff2'),
  url(./fonts/LeagueSpartan-Bold.ttf) format('ttf');
}
@font-face {
  font-family: 'Spartan MB';
  src: url('./fonts/SpartanMB-Regular.eot?#iefix') format('eot'),
      url('./fonts/SpartanMB-Regular.woff2') format('woff2'),
      url('./fonts/SpartanMB-Regular.woff') format('woff'),
      url('./fonts/SpartanMB-Regular.ttf') format('ttf'),
      url('./fonts/SpartanMB-Regular.svg#SpartanMB-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Spartan MB';
  src: url('./fonts/SpartanMB-Thin.eot?#iefix') format('eot'),
      url('./fonts/SpartanMB-Thin.woff2') format('woff2'),
      url('./fonts/SpartanMB-Thin.woff') format('woff'),
      url('./fonts/SpartanMB-Thin.ttf') format('ttf'),
      url('./fonts/SpartanMB-Thin.svg#SpartanMB-Thin') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Spartan MB';
  src: url('./fonts/SpartanMB-Light.eot?#iefix') format('eot'),
      url('./fonts/SpartanMB-Light.woff2') format('woff2'),
      url('./fonts/SpartanMB-Light.woff') format('woff'),
      url('./fonts/SpartanMB-Light.ttf') format('ttf'),
      url('./fonts/SpartanMB-Light.svg#SpartanMB-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

.container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
          font-family: 'LeagueSpartan-Bold';
}
.container .link-list{
  width: 20%;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px 0;
  border-right: 7px solid #ffda1e;
  height: 80vh
}
.container .link-list .bt{
  border: none;
  font-size: 30px;
  cursor: pointer;
  text-align: center;
  color: #ffda1e;
  padding: 20px;
  background-repeat: no-repeat;
  text-transform:uppercase;
}
.container .display{
  width: 100%;
}
@media (max-width:767px){
  .container{
    overflow: visible;
  }
  .container .link-list{
    width: 35%
  }
  .container .link-list .bt{
    font-size: 15px
  }
}
